(common) {
    tls {
        protocols tls1.3
    }
    encode gzip zstd
    header {
        -Server
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}

import /etc/caddy/conf.d/*.conf
